.background {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

.background::before {
  content: "";
  background-image: url("../assets/Background.png");
  filter: blur(2px) !important;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  cursor: pointer;
  border-radius: 100%;
  position: relative;
}

.text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  transition: opacity 0.5s;
}

.hide {
  opacity: 0;
}

.move {
  animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
