body {
  margin: 0;
  font-family: lores-12, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(
    to bottom,
    rgb(75, 75, 75) 0%,
    rgba(163, 163, 163, 0.5) 40%,
    #ffffff 100%
  );
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
